version: "3"
services:
  db:
    image: "postgres:11"
    container_name: "postgres"
    ports:
      - 54320:5432
    volumes:
      - grip-postgres-data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=grip
volumes:
  grip-postgres-data:
